apiVersion: apps/v1
kind: Deployment
metadata:
  name: jaeger
  namespace: default
  labels:
    app: jaeger
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jaeger
  template:
    metadata:
      labels:
        app: jaeger
    spec:
      containers:
      - name: jaeger
        image: jaegertracing/all-in-one:1.41
        ports:
        - name: query-http
          containerPort: 16686
        - name: collector-grpc
          containerPort: 14250
        - name: collector-http
          containerPort: 14268
        - name: zipkin
          containerPort: 9411
        - name: otlp-grpc
          containerPort: 4317
        - name: otlp-http
          containerPort: 4318
        - name: admin
          containerPort: 14269
        env:
          - name: COLLECTOR_OTLP_ENABLED
            value: "true"
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            cpu: 500m
            memory: 512Mi
---
apiVersion: v1
kind: Service
metadata:
  name: jaeger
  namespace: default
  labels:
    app: jaeger
spec:
  type: NodePort
  selector:
    app: jaeger
  ports:
    - name: query-http
      port: 16686
      targetPort: 16686
      nodePort: 31686
      protocol: TCP
    - name: collector-grpc
      port: 14250
      targetPort: 14250
      nodePort: 32250
      protocol: TCP
    - name: collector-http
      port: 14268
      targetPort: 14268
      nodePort: 31268
      protocol: TCP
    - name: zipkin
      port: 9411
      targetPort: 9411
      nodePort: 30941
      protocol: TCP
    - name: otlp-grpc
      port: 4317
      targetPort: 4317
      # nodePort: 30417  # Uncomment and assign a unique port if needed
      protocol: TCP
    - name: otlp-http
      port: 4318
      targetPort: 4318
      nodePort: 30418  # Uncomment and assign a unique port if needed
      protocol: TCP
    - name: admin
      port: 14269
      targetPort: 14269
      protocol: TCP