{% extends 'base.html' %}

{% block content %}

<style>
    table,
    th,
    td {
        border: 1px solid black;
    }

    .tab {
        overflow: hidden;
        border-bottom: 1px solid #ccc;
    }

    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        padding: 10px 16px;
        cursor: pointer;
    }

    .tab button.active {
        background-color: #ccc;
    }

    .tabcontent {
        display: none;
        padding: 10px;
        border-top: none;
    }

    .tabcontent.active {
        display: block;
    }
</style>

<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Models')" style="font-size: 25px;">Models</button>
    <button class="tablinks" onclick="openTab(event, 'Namespaces')" style="font-size: 25px;">Namespaces</button>
    <button class="tablinks" onclick="openTab(event, 'Tenants')" style="font-size: 25px;">Tenants</button>
    <button class="tablinks" onclick="openTab(event, 'Apikeys')" style="font-size: 25px;">Apikeys</button>
</div>

<div id="Apikeys" class="tabcontent">
    <table style="width:100%" id="items-table">
        <thead>
            <tr>
                <th style="width: 150px;">Select</th>
                <th>Name</th>
                <th>Username</th>
                <th>Apikey</th>
            </tr>
        </thead>

        <tbody>

        </tbody>
    </table>

    <form id="delete-form">
        <button id="delete-button" type="submit" onclick="delete_apikeys()"">Delete Apikeys</button>
    </form>

    <h2>Add Apikey</h2>
    <form id=" add-form">
            <input type="text" id="apikey_name" placeholder="Enter apikey name" required>
            <button type="submit" onclick="create_apikey()">Add Apikey Name</button>
    </form>
</div>

<div id="Models" class="tabcontent">
    <table style="width:100%" id="models-table">
        <thead>
            <tr>
                <th style="width: 150px;">Select</th>
                <th>Tenant</th>
                <th>Namespace</th>
                <th>Name</th>
            </tr>
        </thead>

        <tbody>

        </tbody>
    </table>

    <form id="delete-models-form">
        <button id="delete-models-button" type="submit" onclick="delete_funcs()"">Delete Namespaces</button>
    </form>
    
    <h2>Add model</h2>
    <form id=" add-models-form">
            Namespace
            <select id="namespace_dropdown">
                <option disabled selected>Select a namespace</option>
            </select>
            Model name
            <input type="text" id="model_name" placeholder="Enter model name" required>
            <br>
            <textarea id="model_spec" rows="30" cols="120" placeholder="Enter model Spec" required></textarea>
            <br>
            <button type="submit" onclick="create_func()">Add model</button>
    </form>
</div>

<div id="Namespaces" class="tabcontent">
    <table style="width:100%" id="namespaces-table">
        <thead>
            <tr>
                <th style="width: 150px;">Select</th>
                <th>Tenant</th>
                <th>Name</th>
            </tr>
        </thead>

        <tbody>

        </tbody>
    </table>

    <form id="delete-namespace-form">
        <button id="delete-namespace-button" type="submit" onclick="delete_namespaces()"">Delete Namespaces</button>
    </form>
    
    <h2>Add Namespace</h2>
    
    <form id=" add-namespace-form">
            Tenant
            <select id="tenant_dropdown" required>
                <option disabled selected>Select a tenant</option>
            </select>
            <br>
            <br>
            <input type="text" id="namespace_name" placeholder="Enter Namespace name" required>
            <button type="submit" onclick="create_namespace()">Create Namespace</button>
    </form>
</div>

<div id="Tenants" class="tabcontent">
    <table style="width:100%" id="tenants-table">
        <thead>
            <tr>
                <th style="width: 150px;">Select</th>
                <th>Name</th>
            </tr>
        </thead>

        <tbody>

        </tbody>
    </table>

    <form id="delete-tenant-form">
        <button id="delete-tenant-button" type="submit" onclick="delete_tenants()"">Delete Tenants</button>
    </form>
    
    <h2>Add Tenant</h2>
    <form id=" add-tenant-form">
            <input type="text" id="tenant_name" placeholder="Enter Tenant name" required>
            <button type="submit" onclick="create_tenant()">Create Tenant</button>
    </form>
</div>

<script>
    function openTab(evt, tabName) {
        const tabcontent = document.getElementsByClassName("tabcontent");
        for (let i = 0; i < tabcontent.length; i++) {
            tabcontent[i].classList.remove("active");
        }

        const tablinks = document.getElementsByClassName("tablinks");
        for (let i = 0; i < tablinks.length; i++) {
            tablinks[i].classList.remove("active");
        }

        document.getElementById(tabName).classList.add("active");
        evt.currentTarget.classList.add("active");
    }

    window.onload = function () {
        // Simulate click on the first tab button
        openTab({ currentTarget: document.querySelector('.tablinks') }, 'Models');
    };
</script>


<!-- <textarea id="output" rows="20" cols="120"></textarea> -->
<script>
    async function fetchItems() {
        const apikeys_resp = await fetch('/generate_apikeys');
        const apikeys = await apikeys_resp.json();
        const apikey_tbody = document.querySelector('#items-table tbody');
        apikey_tbody.innerHTML = '';
        apikeys.forEach(key => {
            const row = document.createElement('tr');
            row.innerHTML = `
                <td><input type="checkbox" data-id="${key.apikey}"></td>
                <td>${key.keyname}</td>
                <td>${key.username}</td>
                <td>${key.apikey}</td>
            `;
            apikey_tbody.appendChild(row);
        });

        const tenant_dropdown = document.getElementById("tenant_dropdown");
        const namespace_dropdown = document.getElementById("namespace_dropdown");

        const funcs_resp = await fetch('/generate_funcs');
        const funcs = await funcs_resp.json();
        const funcs_tbody = document.querySelector('#models-table tbody');
        funcs_tbody.innerHTML = '';
        funcs.forEach(key => {
            const row = document.createElement('tr');
            row.innerHTML = `
                <td><input type="checkbox" data-id="${key.func.tenant}/${key.func.namespace}/${key.func.name}"></td>
                <td>
                    <a href="{{ hosturl }}listfunc?tenant=${key.func.tenant}">
                        ${key.func.tenant}
                    </a>
                </td>
                <td>
                    <a
                        href="{{ hosturl }}listfunc?tenant=${key.func.tenant}&&namespace=${key.func.namespace}">
                        ${key.func.namespace}
                    </a>
                </td>
                <td>
                    <a
                        href="{{ hosturl }}func?tenant=${key.func.tenant}&&namespace=${key.func.namespace}&&name=${key.func.name}">
                        ${key.func.name}
                    </a>
                </td>
            `;
            funcs_tbody.appendChild(row);
        });

        const namespaces_resp = await fetch('/generate_namespaces');
        const namespaces = await namespaces_resp.json();
        const namespaces_tbody = document.querySelector('#namespaces-table tbody');
        namespaces_tbody.innerHTML = '';
        namespaces.forEach(key => {
            const row = document.createElement('tr');
            row.innerHTML = `
                <td><input type="checkbox" data-id="${key.tenant}/system/${key.name}"></td>
                <td>
                    <a href="{{ hosturl }}listfunc?tenant=${key.tenant}">
                        ${key.tenant}
                    </a>
                </td>
                <td>
                    <a
                        href="{{ hosturl }}listfunc?tenant=${key.tenant}&&namespace=${key.name}">
                        ${key.name}
                    </a>
                </td>
            `;
            namespaces_tbody.appendChild(row);

            const option = document.createElement("option");
            option.value = key.tenant + "/" + key.name;
            option.textContent = key.tenant + "/" + key.name;
            namespace_dropdown.appendChild(option);
        });

        const tenants_resp = await fetch('/generate_tenants');
        const tenants = await tenants_resp.json();
        const tenants_tbody = document.querySelector('#tenants-table tbody');
        tenants_tbody.innerHTML = '';
        tenants.forEach(key => {
            const row = document.createElement('tr');
            row.innerHTML = `
                <td><input type="checkbox" data-id="system/system/${key.name}"></td>
                <td>
                    <a
                        href="{{ hosturl }}listfunc?tenant=${key.name}">
                        ${key.name}
                    </a>
                </td>
            `;
            tenants_tbody.appendChild(row);

            const option = document.createElement("option");
            option.value = key.name;
            option.textContent = key.name;
            tenant_dropdown.appendChild(option);
        });
    }

    async function create_func() {
        var access_token = "{{ session['token'] }}";
        const namespace_dropdown = document.getElementById("namespace_dropdown");
        const isSelected = namespace_dropdown.selectedIndex !== -1;
        if (!isSelected) {
            alert("need choose a namespace");
            return
        }

        const namespacekey = namespace_dropdown.value;

        const parts = namespacekey.split("/");
        const tenant = parts[0];     // "tenant"
        const namespace = parts[1];  // "namespace"

        const modelname = document.getElementById("model_name").value.trim();
        if (!modelname) {
            alert("need valid model name");
            return
        }

        const hostname = window.location.hostname;
        const port = window.location.port;
        const schema = window.location.protocol;

        url = schema + "//" + hostname + ":" + port + "/proxy1/object/";

        const model_spec = document.getElementById('model_spec').value.trim();
        if (!model_spec) {
            alert("need valid model spec");
            return
        }

        try {
            const options = {
                method: 'PUT',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "type": "function",
                    "tenant": tenant,
                    "namespace": namespace,
                    "name": modelname,
                    "object": {
                        "spec": JSON.parse(model_spec)
                    }
                })
            };

            const response = await fetch("/proxy/object/", options);
            const text = await response.text();
            if (response.status == '200') {
                alert("Create Model successfully! " + text);
            } else {
                alert("Create Model fail with error" + text);
            }
            // nameInput.value = '';
            // fetchItems();
        } catch (error) {
            // always get to error here but create func successfully
            // todo: debug this.
            // alert("get error " + error);

        }
    }

    async function delete_funcs() {
        var access_token = "{{ session['token'] }}";
        try {
            const checkboxes = document.querySelectorAll('#models-table tbody input[type="checkbox"]:checked');
            const keys = Array.from(checkboxes).map(cb => cb.getAttribute('data-id'));
            if (keys.length > 0) {
                await Promise.all(keys.map(key => {
                    fetch('proxy/object/function/' + key + "/", {
                        method: 'DELETE'
                    });
                }));
            }
        } catch (error) {
            alert("get error " + error);
        }
    }

    async function create_namespace() {
        const tenant_dropdown = document.getElementById("tenant_dropdown");
        const isSelected = tenant_dropdown.selectedIndex !== -1;
        if (!isSelected) {
            alert("need choose a tenant");
            return
        }

        const tenant = tenant_dropdown.value;
        if (tenant == "Select a tenant") {
            alert("need choose a tenant");
            return
        }

        const namespacename = document.getElementById("namespace_name").value.trim();
        if (!namespacename) {
            alert("need valid namespace name");
            return
        }

        const hostname = window.location.hostname;
        const port = window.location.port;
        const schema = window.location.protocol;

        url = schema + "//" + hostname + ":" + port + "/proxy1/object/";
        // url = "http://192.168.0.22:1250/proxy/object/";

        try {
            const options = {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "type": "namespace",
                    "tenant": tenant,
                    "namespace": "system",
                    "name": namespacename,
                    "object": {
                        "spec": {},
                        "status": {
                            "disable": false
                        }
                    }
                })
            };

            const apikeys_resp = await fetch("/proxy/object/", options);
            const text = await apikeys_resp.text();

            if (apikeys_resp.status === 200) {
                alert("Create Namespace successfully! ");
            } else {
                alert("Create Namespace fail with error" + text);
            }
        } catch (error) {
            // always get to error here but create func successfully
            // todo: debug this.
            // alert("Create Namespace get error " + error);
        }
    }

    async function delete_namespaces() {
        try {
            const checkboxes = document.querySelectorAll('#namespaces-table tbody input[type="checkbox"]:checked');
            const keys = Array.from(checkboxes).map(cb => cb.getAttribute('data-id'));
            if (keys.length > 0) {
                await Promise.all(keys.map(key => {
                    fetch('proxy/object/namespace/' + key + "/", {
                        method: 'DELETE'
                    });
                }));
            }
        } catch (error) {
            alert("get error " + error);
        }
    }

    async function create_tenant() {
        const tenant_name = document.getElementById("tenant_name").value.trim();
        if (!tenant_name) {
            alert("need valid namespace name");
            return
        }

        const hostname = window.location.hostname;
        const port = window.location.port;
        const schema = window.location.protocol;

        url = schema + "//" + hostname + ":" + port + "/proxy1/object/";
        // url = "http://192.168.0.22:1250/proxy/object/";

        try {
            const options = {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "type": "tenant",
                    "tenant": "system",
                    "namespace": "system",
                    "name": tenant_name,
                    "object": {
                        "spec": {},
                        "status": {
                            "disable": false
                        }
                    }
                })
            };

            const resp = await fetch("/proxy/object/", options);
            const text = await resp.text();

            if (resp.status === 200) {
                alert("Create Tenant successfully! ");
            } else {
                alert("Create Tenant fail with error" + text);
            }
        } catch (error) {
            // always get to error here but create func successfully
            // todo: debug this.
            // alert("Create Namespace get error " + error);
        }
    }

    async function delete_tenants() {
        try {
            const checkboxes = document.querySelectorAll('#tenants-table tbody input[type="checkbox"]:checked');
            const keys = Array.from(checkboxes).map(cb => cb.getAttribute('data-id'));
            if (keys.length > 0) {
                await Promise.all(keys.map(key => {
                    fetch('proxy/object/tenant/' + key + "/", {
                        method: 'DELETE'
                    });
                }));
            }
        } catch (error) {
            alert("get error " + error);
        }
    }

    async function create_apikey() {
        var access_token = "{{ session['token'] }}";
        const nameInput = document.getElementById('apikey_name');
        // const output = document.getElementById('output');
        const keyname = nameInput.value.trim();
        try {
            if (keyname) {
                const body = {
                    method: 'PUT',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' + access_token
                    },
                    body: JSON.stringify({
                        "apikey": "",
                        "realm": "",
                        "username": "",
                        "keyname": keyname
                    })
                };
                // await fetch('http://192.168.0.22/apikey/', body);
                await fetch('/apikeys', body);
                nameInput.value = '';
                fetchItems();
            }
        } catch (error) {
            // output.innerHTML += error + '<br>';
            // output.innerHTML += error.cause + '<br>';

        }
    }

    async function delete_apikeys() {
        var access_token = "{{ session['token'] }}";
        const nameInput = document.getElementById('apikey_name');
        const keyname = nameInput.value.trim();
        try {
            const checkboxes = document.querySelectorAll('#items-table tbody input[type="checkbox"]:checked');
            const keys = Array.from(checkboxes).map(cb => cb.getAttribute('data-id'));
            if (keys.length > 0) {
                await Promise.all(keys.map(key => {
                    fetch('apikeys', {
                        method: 'DELETE',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({
                            "apikey": key,
                            "realm": "",
                            "username": "",
                            "keyname": "",
                            "keys": keys
                        })
                    });
                }));
            }

            fetchItems();
        } catch (error) {
            // output.innerHTML += error + '<br>';
            // output.innerHTML += error.cause + '<br>';

        }
    }

    // Initial fetch
    fetchItems();
</script>

{{ hosturl }}
{% endblock %}