{% extends 'base.html' %}

{% block content %}
<h2 style="text-align: center;">Models</h2>

<style>
    table,
    th,
    td {
        border: 1px solid black;
    }

    .content table.ix-table {
        font-size: 14px;
    }
</style>

<table class="ix-table" style="width:100%; text-align: center; border-collapse: collapse;">
    <tr>
        <th rowspan="2">Tenant</th>
        <th rowspan="2">Namespace</th>
        <th rowspan="2">Model Name</th>
        <th rowspan="2">Type</th>
        <th rowspan="2">GPU Count</th>
        <th rowspan="2">vRam (GB)</th>
        <th rowspan="2">CPU</th>
        <th rowspan="2">Memory (GB)</th>
        <th colspan="3">Standby</th>
        <th rowspan=" 2">State</th>
        <th rowspan="2">Snapshot Nodes</th>
        <th rowspan="2">Revision</th>
    </tr>
    <tr>
        <th>GPU</th>
        <th>Pageable</th>
        <th>Pinned</th>

    </tr>
    {% for func in funcs %}
    <tr>
        <td><a href="{{ hosturl }}listfunc?tenant={{ func['func']['tenant'] }}">
                <span data-tenant-name="{{ func['func']['tenant'] }}">{{ func['func']['tenant'] }}</span>
            </a></td>
        <td><a
                href="{{ hosturl }}listfunc?tenant={{ func['func']['tenant'] }}&&namespace={{ func['func']['namespace'] }}">
                {{ func['func']['namespace'] }}
            </a></td>
        <td><a
                href="{{ hosturl }}func?tenant={{ func['func']['tenant'] }}&&namespace={{ func['func']['namespace'] }}&&name={{ func['func']['name'] }}">{{
                func['func']['name'] }}
            </a></td>
        <td>
            {% if func['func']['object']["spec"]["sample_query"]["apiType"] == "openai" %}
            text2text
            {% else %}
            {{ func['func']['object']["spec"]["sample_query"]["apiType"] }}
            {% endif %}
        </td>
        <td>{{ func['func']['object']["spec"]["resources"]["GPU"]["Count"] }}</td>
        <td>{{ func['func']['object']["spec"]["resources"]["GPU"]["vRam"]/1000 }}</td>
        <td>{{ func['func']['object']["spec"]["resources"]["CPU"]/1000 }}</td>
        <td>{{ func['func']['object']["spec"]["resources"]["Mem"]/1000 }}</td>
        <td>{{ func['func']['object']["spec"]["standby"]["gpu"] }}</td>
        <td>{{ func['func']['object']["spec"]["standby"]["pageable"] }}</td>
        <td>{{ func['func']['object']["spec"]["standby"]["pinned"] }}</td>
        <td>{{ func['func']['object']["status"]["state"] }}</td>
        <td>{{ func['snapshotNodes'] }}</td>
        <td>{{ func['func']['object']["spec"]["version"] }}</td>

    </tr>
    {% endfor %}

</table>

<h2 style="text-align: center;">Summary</h2>

<table class="ix-table" style="width: 500px; margin: auto; text-align: center; border-collapse: collapse;">
    <tr>
        <td width="200"><h3>Model Count</h3></td>
        <td width="200"><h3>{{ summary["model_count"] }}</h3></td>
    </tr>
    <tr>
        <td><h3>Required GPU Count</h3></td>
        <td><h3>{{ summary["gpucount"] }}</h3></td>
    </tr>
    <tr>
        <td><h3>Required VRAM (GB)</h3></td>
        <td><h3>{{ summary["vram"] / 1000 }} GB</h3></td>
    </tr>
    <tr>
        <td><h3>Required CPU Cores</h3></td>
        <td><h3>{{ summary["cpu"] / 1000 }}</h3></td>
    </tr>
    <tr>
        <td><h3>Required Memory (GB)</h3></td>
        <td><h3>{{ summary["memory"] / 1000 }} GB</h3></td>
    </tr>
</table>

{{ hosturl }}
{% endblock %}
