{% extends 'base.html' %}

{% block content %}
<h2 style="text-align: center;">Nodes</h2>
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>
<table style="width:100%; text-align: center; border-collapse: collapse;">
    <tr>
        <th>Nodename</th>
        <th>IP Address</th>
        <th>CIDR</th>
        <th>CPU Count</th>
        <th>CPU Memory (GB) </th>
        <th>MaxContextPerGPU </th>
        <th>BlobStore </th>
        <th>GPUs </th>
    </tr>
    {% for node in nodes %}
    <tr>
        <td><a href="{{ hosturl }}node?name={{ node["name"] }}">{{
                node["name"] }}</a></td>
        {% autoescape false %}
        <td>{{ node['object']['nodeIp'] }}</td>
        <td>{{ node['object']['cidr'] }}</td>
        <td>{{ node['object']['resources']['CPU'] // 1000 }}</td>
        <td>{{ node['object']['resources']['Mem'] // 1000 }}</td>
        <td>{{ node['object']['resources']['MaxContextPerGPU'] }}</td>
        <td>{{ node['object']['blobStoreEnable'] }}</td>
        {% set gpus = node['object']['resources']['GPUs'] %}
        <td>
            <div>vRam: {{ gpus.vRam }}</div>
            <div>slotSize: {{ gpus.slotSize }}</div>
            <div>totalSlotCnt: {{ gpus.totalSlotCnt }}</div>

            <table style="width: 100%; margin-top: 5px; border-collapse: collapse;" border="1">
                {% for gpu_id, gpu_info in gpus.map.items() %}
                <tr>
                    <td style="width: 20%; padding: 4px;" rowspan="3">{{ gpu_id }}</td>
                    <td style="padding: 4px;">contextCnt: {{ gpu_info.contextCnt }}</td>
                </tr>
                <tr>
                    <td style="padding: 4px;">slotCnt: {{ gpu_info.slotCnt }}</td>
                </tr>
                <tr>
                    <td style="padding: 4px;">ncclCnt: {{ gpu_info.ncclCnt }}</td>
                </tr>
                {% endfor %}
            </table>
        </td>
        {% endautoescape %}
    </tr>
    {% endfor %}
</table>
{{ hosturl }}
{% endblock %}