{% extends 'base.html' %}

{% block content %}

<h2 style="text-align: center;">Funcpod</h2>

<style>
    table,
    th,
    td {
        border: 1px solid black;
    }

    .content table.ix-table.pod-log-table td {
        text-align: left;
    }
</style>
<table class="ix-table" style="width:100%; text-align: center; border-collapse: collapse;">
    <tr>
        <th>Tenant</th>
        <th>Namespace</th>
        <th>Podname</th>
        <th>Model</th>
    </tr>
    <tr>
        <td>{{ tenant }}</td>
        <td>{{ namespace }}</td>
        <td>{{ podname }}</td>
        <td>
            <a href="{{ hosturl }}func?tenant={{ tenant }}&namespace={{ namespace }}&name={{ funcname }}">
                       {{ funcname }}
            </a>

        </td>
    </tr>
</table>

{% if audits %}
<h2 style="text-align: center;">State</h2>
<table class="ix-table" style="width:100%; text-align: center; border-collapse: collapse;">
    <tr>
        <th>State</th>
        <th>Time</th>
    </tr>
    {% for audit in audits %}
    <tr>
        <td>{{ audit["state"] }}</td>
        <td>{{ audit["updatetime"] }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
<h2 style="text-align: center;">Log</h2>
<table class="ix-table pod-log-table" style="width:100%">
    <tr>
        {% autoescape false %}
        <td>{{ log }}</td>
        {% endautoescape %}
    </tr>
</table>

<!-- <h2>stats</h2>
<table class="ix-table" style="width:100%">
    <tr>
        {% autoescape false %}
        <td>{{ audits[1] }}</td>
        {% endautoescape %}
    </tr>
</table> -->
{{ hosturl }}
{% endblock %}
